name: docker-package-push-granite-4.0-test
run-name: "Docker package push [${{github.ref_type}}: ${{github.ref_name}}]"

on:
  push:
    tags:
      - "test-docker-4.0*"
  workflow_dispatch:

permissions:
 contents: read
 packages: read

env:
  DEBUG: true
  TRACE: false
  ENABLE_DOCKER_PUSH: true
  ENABLE_LANGUAGE_JOBS: true

  # 'ibm-granite/granite-4.0-tiny-preview',
  # 'ibm-granite/granite-4.0-tiny-base-preview'

  # 'ibm-granite/granite-4.0-350m',
  # 'ibm-granite/granite-4.0-350m-base',
  # 'ibm-granite/granite-4.0-h-350m',
  # 'ibm-granite/granite-4.0-h-350m-base',
  # 'ibm-granite/granite-4.0-1b',
  # 'ibm-granite/granite-4.0-1b-base',
  # 'ibm-granite/granite-4.0-h-1b',
  # 'ibm-granite/granite-4.0-h-1b-base',
  # 'ibm-granite/granite-4.0-micro',
  # 'ibm-granite/granite-4.0-micro-base',
  # 'ibm-granite/granite-4.0-h-micro',
  # 'ibm-granite/granite-4.0-h-micro-base',
  # 'ibm-granite/granite-4.0-h-tiny',
  # 'ibm-granite/granite-4.0-h-tiny-base',
  # 'ibm-granite/granite-4.0-h-small',
  # 'ibm-granite/granite-4.0-h-small-base'
  # 'ibm-granite/granite-4.0-8b',
  # 'ibm-granite/granite-4.0-8b-base'
  SOURCE_INSTRUCT_REPOS: "[
    'ibm-granite/granite-4.0-8b',
    'ibm-granite/granite-4.0-8b-base'
  ]"
  # 'Q2_K',
  # 'Q3_K_L', 'Q3_K_M', 'Q3_K_S',
  # 'Q4_0', 'Q4_1', 'Q4_K_M', 'Q4_K_S',
  # 'Q5_0', 'Q5_1', 'Q5_K_M', 'Q5_K_S',
  # 'Q6_K',
  # 'Q8_0',
  # 'F16'
  SOURCE_INSTRUCT_QUANTIZATIONS: "[
    'Q2_K',
    'Q3_K_L', 'Q3_K_M', 'Q3_K_S',
    'Q4_0', 'Q4_1', 'Q4_K_M', 'Q4_K_S',
    'Q5_0', 'Q5_1', 'Q5_K_M', 'Q5_K_S',
    'Q6_K',
    'Q8_0',
    'F16'
  ]"
  SOURCE_GUARDIAN_REPOS: "[
    'None'
  ]"
  SOURCE_GUARDIAN_QUANTIZATIONS: "[
    'None'
  ]"
  SOURCE_VISION_REPOS: "[
    'None'
  ]"
  SOURCE_VISION_QUANTIZATIONS: "[
    'None'
  ]"
  SOURCE_EMBEDDING_REPOS: "[
    'None'
  ]"
  SOURCE_EMBEDDING_QUANTIZATIONS: "[
    'None'
  ]"
  SOURCE_DOCLING_REPOS: "[
    'None'
  ]"
  SOURCE_DOCLING_QUANTIZATIONS: "[
    'None'
  ]"
  SOURCE_HF_REPO_NAME_EXT: -GGUF
  SOURCE_HF_REPO_OWNER: ibm-granite
  COLLECTION_CONFIG: "resources/json/latest/hf_collection_mapping_gguf.json"
  TARGET_DOCKERHUB_NAMESPACE: mrutkowski
  TARGET_DOCKERHUB_REPOSITORY: granite4-test

jobs:
  # ===========================================================================
  # Environment setup
  # ===========================================================================
  environment-setup:
    runs-on: ubuntu-latest
    # Note: declaration of these outputs is essential to pass to the next job
    outputs:
      debug: ${{ steps.set-vars.outputs.debug }}
      trace: ${{ steps.set-vars.outputs.trace }}
      enable_language_jobs: ${{ steps.set-vars.outputs.enable_language_jobs }}
      enable_vision_jobs: ${{ steps.set-vars.outputs.enable_vision_jobs }}
      enable_guardian_jobs: ${{ steps.set-vars.outputs.enable_guardian_jobs }}
      enable_embedding_jobs: ${{ steps.set-vars.outputs.enable_embedding_jobs }}
      enable_docling_jobs: ${{ steps.set-vars.outputs.enable_docling_jobs }}
      hf_collection_config: ${{ steps.set-vars.outputs.hf_collection_config }}
      source_repo_private: ${{ steps.set-vars.outputs.source_repo_private }}
      source_repo_owner: ${{ steps.set-vars.outputs.source_repo_owner }}
      source_repo_name_ext: ${{ steps.set-vars.outputs.source_repo_name_ext }}
      source_instruct_repos: "${{ steps.set-vars.outputs.source_instruct_repos }}"
      source_instruct_quantizations: "${{ steps.set-vars.outputs.source_instruct_quantizations }}"
      source_vision_repos: "${{ steps.set-vars.outputs.source_vision_repos }}"
      source_vision_quantizations: "${{ steps.set-vars.outputs.source_vision_quantizations }}"
      source_guardian_repos: "${{ steps.set-vars.outputs.source_guardian_repos }}"
      source_guardian_quantizations: "${{ steps.set-vars.outputs.source_guardian_quantizations }}"
      source_embedding_repos: "${{ steps.set-vars.outputs.source_embedding_repos }}"
      source_embedding_quantizations: "${{ steps.set-vars.outputs.source_embedding_quantizations }}"
      source_docling_repos: "${{ steps.set-vars.outputs.source_docling_repos }}"
      source_docling_quantizations: "${{ steps.set-vars.outputs.source_docling_quantizations }}"
      enable_docker_push: ${{ steps.set-vars.outputs.enable_docker_push }}
      target_dockerhub_namespace: ${{ steps.set-vars.outputs.target_dockerhub_namespace }}
      target_dockerhub_repository: ${{ steps.set-vars.outputs.target_dockerhub_repository }}
      target_docker_llm_quants: "${{ steps.set-vars.outputs.target_docker_llm_quants }}"
    env:
      ARRAY_SEP: "','"
      DEF_CONVERTED_QUANT: "bf16" # "f16"
    steps:
      - name: List all environment variables
        id: list-env-vars
        run: env | sort

      # TODO: allow diff. models to have diff. converted quant. default (e.g., "f16" for guardian)
      # Append "default quant. (i.e., from initial safetensors to gguf conversion
      # such as "f16") to Ollama the quants. matrix
      - name: Append initial converted quant. to llm matrix
        id: ollama-append-default-to-llm-quant-matrix
        run: |
          echo "Appending to SOURCE_INSTRUCT_QUANTIZATIONS: '${{ fromJSON(env.SOURCE_INSTRUCT_QUANTIZATIONS) }}'"
          TEMP_ARRAY_STRING="${{ join(fromJSON(env.SOURCE_INSTRUCT_QUANTIZATIONS), env.ARRAY_SEP) }}"
          echo "TEMP_ARRAY_STRING=$TEMP_ARRAY_STRING"
          TARGET_DOCKER_LLM_QUANTS="['${TEMP_ARRAY_STRING}${{env.ARRAY_SEP}}${{env.DEF_CONVERTED_QUANT}}']"
          echo "TARGET_DOCKER_LLM_QUANTS=$TARGET_DOCKER_LLM_QUANTS" >> $GITHUB_ENV

      - name: Set environment variables in GitHub output
        id: set-vars
        run: |
            echo "DEBUG: $DEBUG"
            echo "TRACE: $TRACE"
            echo "COLLECTION_CONFIG: $COLLECTION_CONFIG"
            echo "SOURCE_HF_REPO_NAME_EXT: $SOURCE_HF_REPO_NAME_EXT"
            echo "SOURCE_HF_REPO_OWNER: $SOURCE_HF_REPO_OWNER"
            echo "debug=$DEBUG" >> "$GITHUB_OUTPUT"
            echo "trace=$TRACE" >> "$GITHUB_OUTPUT"
            echo "hf_collection_config=$COLLECTION_CONFIG" >> "$GITHUB_OUTPUT"
            echo "enable_language_jobs=$ENABLE_LANGUAGE_JOBS" >> "$GITHUB_OUTPUT"
            echo "enable_vision_jobs=$ENABLE_VISION_JOBS" >> "$GITHUB_OUTPUT"
            echo "enable_guardian_jobs=$ENABLE_GUARDIAN_JOBS" >> "$GITHUB_OUTPUT"
            echo "enable_embedding_jobs=$ENABLE_EMBEDDING_JOBS" >> "$GITHUB_OUTPUT"
            echo "enable_docling_jobs=$ENABLE_DOCLING_JOBS" >> "$GITHUB_OUTPUT"
            echo "source_repo_name_ext=$SOURCE_HF_REPO_NAME_EXT" >> "$GITHUB_OUTPUT"
            echo "source_repo_owner=$SOURCE_HF_REPO_OWNER" >> "$GITHUB_OUTPUT"
            echo "source_instruct_repos=$SOURCE_INSTRUCT_REPOS" >> "$GITHUB_OUTPUT"
            echo "source_instruct_quantizations=$SOURCE_INSTRUCT_QUANTIZATIONS" >> "$GITHUB_OUTPUT"
            echo "source_vision_repos=$SOURCE_VISION_REPOS" >> "$GITHUB_OUTPUT"
            echo "source_vision_quantizations=$SOURCE_VISION_QUANTIZATIONS" >> "$GITHUB_OUTPUT"
            echo "source_guardian_repos=$SOURCE_GUARDIAN_REPOS" >> "$GITHUB_OUTPUT"
            echo "source_guardian_quantizations=$SOURCE_GUARDIAN_QUANTIZATIONS" >> "$GITHUB_OUTPUT"
            echo "source_embedding_repos=$SOURCE_EMBEDDING_REPOS" >> "$GITHUB_OUTPUT"
            echo "source_embedding_quantizations=$SOURCE_EMBEDDING_QUANTIZATIONS" >> "$GITHUB_OUTPUT"
            echo "source_docling_repos=$SOURCE_DOCLING_REPOS" >> "$GITHUB_OUTPUT"
            echo "source_docling_quantizations=$SOURCE_DOCLING_QUANTIZATIONS" >> "$GITHUB_OUTPUT"
            echo "enable_docker_push=$ENABLE_DOCKER_PUSH" >> "$GITHUB_OUTPUT"
            echo "target_dockerhub_namespace=$TARGET_DOCKERHUB_NAMESPACE" >> "$GITHUB_OUTPUT"
            echo "target_dockerhub_repository=$TARGET_DOCKERHUB_REPOSITORY" >> "$GITHUB_OUTPUT"
            echo "target_docker_llm_quants=$TARGET_DOCKER_LLM_QUANTS" >> "$GITHUB_OUTPUT"

      - name: Verify updated environment variables
        id: verify-updated-env-vars
        run: env | sort

      - name: Confirm GitHub output values were set
        run: |
            echo "ollama_debug: ${{ steps.set-vars.outputs.ollama_debug }}"
            echo "debug: ${{ steps.set-vars.outputs.debug }}"
            echo "trace: ${{ steps.set-vars.outputs.trace }}"
            echo "source_repo_owner: '${{ steps.set-vars.outputs.source_repo_owner }}'"
            echo "source_repo_name_ext: '${{ steps.set-vars.outputs.source_repo_name_ext }}'"
            echo "source_repo_private: '${{ steps.set-vars.outputs.source_repo_private }}'"
            echo "hf_collection_config: '${{ steps.set-vars.outputs.hf_collection_config }}'"
            echo "enable_language_jobs: ${{ steps.set-vars.outputs.enable_language_jobs }}"
            echo "enable_vision_jobs: ${{ steps.set-vars.outputs.enable_vision_jobs }}"
            echo "enable_guardian_jobs: ${{ steps.set-vars.outputs.enable_guardian_jobs }}"
            echo "enable_embedding_jobs: ${{ steps.set-vars.outputs.enable_embedding_jobs }}"
            echo "enable_docling_jobs: ${{ steps.set-vars.outputs.enable_docling_jobs }}"
            echo "source_instruct_repos: '${{ steps.set-vars.outputs.source_instruct_repos }}'"
            echo "source_instruct_quantizations: '${{ steps.set-vars.outputs.source_instruct_quantizations }}'"
            echo "source_vision_repos: '${{ steps.set-vars.outputs.source_vision_repos }}'"
            echo "source_vision_quantizations: '${{ steps.set-vars.outputs.source_vision_quantizations }}'"
            echo "source_guardian_repos: '${{ steps.set-vars.outputs.source_guardian_repos }}'"
            echo "source_guardian_quantizations: '${{ steps.set-vars.outputs.source_guardian_quantizations }}'"
            echo "source_embedding_repos: '${{ steps.set-vars.outputs.source_embedding_repos }}'"
            echo "source_embedding_quantizations: '${{ steps.set-vars.outputs.source_embedding_quantizations }}'"
            echo "source_docling_repos: '${{ steps.set-vars.outputs.source_docling_repos }}'"
            echo "source_docling_quantizations: '${{ steps.set-vars.outputs.source_docling_quantizations }}'"
            echo "enable_docker_push: '${{ steps.set-vars.outputs.enable_docker_push }}'"
            echo "target_dockerhub_namespace: '${{ steps.set-vars.outputs.target_dockerhub_namespace }}'"
            echo "target_dockerhub_repository: '${{ steps.set-vars.outputs.target_dockerhub_repository }}'"
            echo "target_docker_llm_quants: '${{ steps.set-vars.outputs.target_docker_llm_quants }}'"

      # - name: List all environment variables
      #   run: env | sort

      # - name: Dump runner context
      #   env:
      #     RUNNER_CONTEXT: ${{ toJson(runner) }}
      #   run: |
      #     uname -a
      #     echo "$RUNNER_CONTEXT"

  # ===========================================================================
  # Docker (llm/instruct)
  # ===========================================================================
  docker-package-push-llm-models:
    needs: [ environment-setup ]
    uses: IBM/gguf/.github/workflows/reusable-docker-package-push-model.yml@main
    permissions:
      contents: write
      packages: write
    strategy:
      fail-fast: false
      matrix:
        repo_id: ${{ fromJson(needs.environment-setup.outputs.source_instruct_repos) }}
        quantization: ${{ fromJson(needs.environment-setup.outputs.target_docker_llm_quants) }}
    with:
      debug: ${{ needs.environment-setup.outputs.debug == 'true' }}
      hf_collection_config: ${{ needs.environment-setup.outputs.hf_collection_config }}
      enable_language_jobs: ${{ needs.environment-setup.outputs.enable_language_jobs == 'true' }}
      source_repo_owner: ${{ needs.environment-setup.outputs.source_repo_owner }}
      source_repo_name_ext: ${{ needs.environment-setup.outputs.source_repo_name_ext }}
      enable_docker_push: ${{ needs.environment-setup.outputs.enable_docker_push == 'true' }}
      target_dockerhub_namespace: ${{ needs.environment-setup.outputs.target_dockerhub_namespace }}
      target_dockerhub_repository: ${{ needs.environment-setup.outputs.target_dockerhub_repository }}
      repo_id: ${{ matrix.repo_id }}
      quantization: ${{ matrix.quantization }}
    secrets:
      hf_token: ${{ secrets.HF_TOKEN_IBM_GRANITE }}
      docker_username: ${{ secrets.DOCKER_USERNAME }}
      dockerhub_token: ${{ secrets.DOCKERHUB_TOKEN }}
