name: zip-release-artifacts-reusable

on:
  workflow_call:
    secrets:
      hf_token:
        required: true
    inputs:
      enable_zip:
        type: boolean
        required: false
        default: false
      artifacts_path:
        type: string
        required: false
        default: 'artifacts'
        description: 'path to artifacts'
      artifacts_root_name:
        type: string
        required: true
      artifacts_extension:
        type: string
        required: true
      debug:
        type: boolean
        required: true
        default: false

jobs:
  zip-release-artifacts:
    runs-on: ubuntu-latest
    if: |
      ${{ inputs.enable_zip == true }}
    steps:
      - run: |
          echo "[INFO] >> github.run_id: '${{ github.run_id }}'"
          echo "[INFO] >> github.event.base_ref: '${{ github.event.base_ref }}'"
          echo "[INFO] >> github.workflow_ref: '${{ github.workflow_ref }}'"
          echo "[INFO] >> github.ref: '${{ github.ref }}', github.ref_name: '${{ github.ref_name }}', github.ref_type: '${{ github.ref_type }}'"

      # if: ${{ github.event.inputs.debug }}
      - name: Dump GitHub inputs
        env:
          GITHUB_INPUTS: ${{ toJson(inputs) }}
        run: echo "$GITHUB_INPUTS"

      - name: List all environment variables
        if: ${{ github.event.inputs.debug }}
        run: env | sort

      - name: Dump GitHub context
        if: inputs.debug == true
        env:
          GH_CONTEXT: ${{ toJson(github) }}
        run: echo "$GH_CONTEXT"

      - uses: actions/checkout@v4
        with:
          sparse-checkout: |
            scripts/

      # Note: at the current time, we cannot use Python versions > 3.11 due to HF and langchain deps.
      # Note: you can verify in a step using: run: python -c "import sys; print(sys.version)"
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - uses: actions/checkout@v4
      - name: Download log artifacts
        id: artifact-download-logs
        uses: actions/download-artifact@v4
        with:
          path: ${{inputs.artifacts_path}}

      - name: Create zip artifact filename with release tag
        id: create-zip-filename-with-release-tag
        run: |
          echo "ZIP_ARTIFACT_FNAME=${{ inputs.artifacts_root_name }}-${{github.ref_name}}.zip" >> $GITHUB_ENV

      - name: find-artifacts
        if: inputs.debug == true
        run: |
          ls -alR ${{inputs.artifacts_path}}
          echo "%%%"
          find ${{inputs.artifacts_path}} -type f -name "*${{inputs.artifacts_extension}}"
          echo "%%%"
          find ${{inputs.artifacts_path}} -type f -name "*${{inputs.artifacts_extension}}" | tr '\n' ' ' > find.txt
          echo "==="
          cat find.txt
          echo "==="
          echo "1"
          echo "FIND_OUTPUT=$(cat find.txt)"
          echo "2"
          echo "FIND_OUTPUT: '$FIND_OUTPUT'"
          echo "3"
          echo "find_output=$FIND_OUTPUT" >> "$GITHUB_OUTPUT"
          echo "4"
          python ./scripts/get_filenames.py -p ${{inputs.artifacts_path}} -x ${{inputs.artifacts_extension}} -o find2.txt
          echo "5"
          cat find2.txt

      - name: Zip artifacts
        id: zip-artifacts
        run: |
          ls -al ${{inputs.artifacts_path}}
          echo "==="
          cat find.txt
          echo "==="
          cat find2.txt
          echo "==="
          echo "find_output: '${{ steps.find-artifacts.outputs.find_output }}'"
          zip -v ${{env.ZIP_ARTIFACT_FNAME}} -@ < find2.txt

      - name: Get release upload URL
        id: get-release-upload-url
        run: |
          UPLOAD_URL=$(curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            "https://api.github.com/repos/${{ github.repository }}/releases/tags/${{ github.ref_name }}" \
            | jq -r '.upload_url')
          echo "upload_url=$UPLOAD_URL" >> $GITHUB_OUTPUT

      - name: Check zip file exists
        id: verify-zip-exists
        run: |
          if [ -f "${{env.ZIP_ARTIFACT_FNAME}}" ]; then
            ls -al ${{env.ZIP_ARTIFACT_FNAME}}
            echo "${{env.ZIP_ARTIFACT_FNAME}} exists"
            echo "zip_file_exists=true" >> $GITHUB_OUTPUT
          else
            echo "${{env.ZIP_ARTIFACT_FNAME}} does NOT exist"
            echo "zip_file_exists=false" >> $GITHUB_OUTPUT
          fi

      - name: Upload zip
        id: upload-zip
        if: steps.verify-zip-exists.outputs.zip_file_exists == 'true'
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.get-release-upload-url.outputs.upload_url }}
          asset_path: ${{env.ZIP_ARTIFACT_FNAME}}
          asset_name: ${{env.ZIP_ARTIFACT_FNAME}}
          asset_content_type: application/zip

    # TODO: look to replace the "actions/upload-artifact@v4" with the GH API as the action is outdated
    # See: https://docs.github.com/en/rest/releases/releases?apiVersion=2022-11-28#upload-a-release-asset
    # See: (Python) https://github.com/AnswerDotAI/ghapi?tab=readme-ov-file (tutorials/tutorial_actions.ipynb)
    # Tutorial Example:
    # ```python
    # from ghapi.all import *
    # ...
    # fn = f'my_asset-darwin.tgz'
    # api = GhApi(owner='gh-owner-org', repo='my-repo-name', token=github_token())
    # rel = api.repos.get_release_by_tag(tag)
    # api.upload_file(rel, fn)
    # ```
